*{
    margin:0px;
    padding: 0px;
}
body{
    background: url(images/bgg2.jpg); background-size: cover;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    margin-right: 90%;
}
#d{
    float: right;
    margin-left: 1%;
}
p{
    margin-left: 2%;
    margin-right: 1%;
    font-size: 26pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:inherit;
}
img{
    float:left;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}